.container {
  width: 100%;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.contacts__item {
  padding-left: 0px;
  padding-top: 25px;
}

.contacts__cafe {
  margin: 0px;
  padding-right: auto;
  width: 80px;
  height: auto;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
}

.contacts__foodtruck {
  margin: 0px;
  padding-right: auto;
  width: 130px;
  height: auto;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #c2e297;
  border-radius: 4px;
}

.contacts__town {
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 10px;
  width: 89px;
  height: 22px;
  left: 70px;
  top: 5651px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
}

.contacts__descrip {
  margin: 0px;
  padding-top: 12px;
  height: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #e1e1e1;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__descrip {
    width: 179px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__descrip {
    width: 157px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__descrip {
    width: 243px;
  }
}

.contacts__days {
  margin: 0px;
  padding-bottom: 20px;
  width: 107px;
  height: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

.contacts__time {
  width: 107px;
  height: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ffa5ba;
}

.contacts__adress {
  width: 179px;
  height: 37px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 767px) {
  .contacts__buttons {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts__buttons {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__location {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__location {
    margin-right: 15px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .contacts {
    background-image: linear-gradient(to bottom, #ffffff 10%, #fff5f6 10%, #fff5f6 90%);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts {
    padding-bottom: 115px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts {
    padding-bottom: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-color: #fff5f6;
    padding-bottom: 165px;
  }
}

.contacts__column {
  height: 427px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__column {
    margin-right: auto;
    margin-left: auto;
    padding-top: 51px;
    padding-left: 21px;
    padding-right: 21px;
    width: 175px;
  }
}

.contacts__column:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__column {
    width: 160px;
    padding-top: 51px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .contacts__column:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__column:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__column {
    width: 240px;
    padding-top: 51px;
    padding-left: 43px;
    padding-right: 43px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    justify-content: center;
  }
}

.working-days {
  padding-top: 25px;
  border-top: 1px solid #e1e1e1;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.working-adress {
  margin-top: 25px;
}

.locations {
  width: 192px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border-radius: 24px;
  background-color: #d41342;
  border-color: transparent;
}

.franchise {
  width: 192px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  color: #d41342;
  border-radius: 24px;
  background-color: #ffffff;
  border-color: transparent;
  fill: #d41342;
}

.locations-svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.franchise-svg {
  fill: #d41342;
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */